<html>
  <head>
    <title>Create Robot</title>
    <link rel="stylesheet" href="application.css">
  </head>
  <body>
    <h1>Create your Robot!</h1>

    <form action='/robots' method='POST'>
      <label>Insert Name</label>
      <input type="text" name="robot[name]"><br/>
      <label>Insert City</label>
      <input type="text" name="robot[city]"><br/>
      <label>Insert State</label>
      <input type="text" name="robot[state]"><br/>
      <label>Insert Department</label>
      <input type="text" name="robot[department]"><br/>
      <input type="submit"><br/>
    </form>
  </body>
</html>
