<div class="row text-center dashboard-row"><h1>Welcome to Robot World</h1></div>
<div class="row text-center">
  <a href="/robots"><button class="btn btn-default index-button" type="button">See All The Robots</button></a>
</div>
