
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Robot World</h1>

    <p align="center">
      <img src="https://robohash.org/nerd.png" alt="Robot">
    </p>

    <p>
      <a href="/robots/new" class="btn btn-primary btn-success btn-lg">
        Create a New Robot</a>
    </p>
    
    <p>
      <a href="/robots" class="btn btn-primary btn-danger btn-lg">
        See All Robots</a>
    </p>
  </div>
</section>
