<h1>Robot World</h1>

<ul>
  <li><a href="/robots">See All Robots</a></li>
</ul>

<img src="https://robohash.org/hf" height="500px" width="500px">
<img src="https://robohash.org/hf" height="500px" width="500px">
