<h1>Robot World</h1>

<ul>
  <li><a href="/robots">See All Robots</a></li>
</ul>
  <div class="robbie">
    <img src="https://robohash.org/hf">
    <img src="https://robohash.org/hf">
    <img src="https://robohash.org/hf">
  </div>
