<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>Robot World</h1>
<hr>
<ul>
  <li><a href="/robots">See All Robots</a></li>
</ul>
  <div class="robbie">
    <img src="https://robohash.org/hf">
  </div>
  <div class="robbie2">
    <img src="https://robohash.org/hyf">
  </div>
