<!DOCTYPE html>
<html>
<head>
  <title>Robot World</title>
  <link rel="stylesheet" href="/application.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>
<header>
  <img class="banner"src="http://i.imgur.com/Vj31RUa.jpg" alt="banner"><br>
  <div class="buttons-banner">
    <button><a href="/robots/new">Create a New Robot</a></button>
    <button><a href="/robots">See all of your Robots</a></button>
  </div>
</header>
<body>
  <%= yield %>
</body>
</html>
