<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <title>Robot World</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
