<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Add a new robot</h1>
      <form action="/robots/new" method="post">
        <label for="name">Name<br/>
          <input type="text" name="robot[name]" id="name"><br/>
          <label for="city">City<br/>
            <input type="text" name="robot[city]" id="city"><br/>
            <label for="state">State<br/>
              <input type="text" name="robot[state]" id="state"><br/>
              <label for="department">Department<br/>
                <input type="text" name="robot[department]" id="department"><br/>
                <input type="submit">
              </form>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
