<div>
  <form action="/robots" method="post">
    <p>Enter a new robot:</p>
    <label>Name</label><br/>
    <input type="text" name="robots[name]"/><br/>
    <label>City</label><br/>
    <input type="text" name="robots[city]"/><br/>
    <label>State</label><br/>
    <input type="text" name="robots[state]"/><br/>
    <label>Department</label><br/>
    <input type="text" name="robots[department]"/><br/>
    <input type="submit"/>
  </form>
</div>
