<h1>Add robot</h1>
<form action="/robots" method= "post">
  <label>name</label>
  <input type= "text" name= "robot[name]"><br/>
  <label>city</label>
  <input type= "text" name= "robot[city]"><br/>
  <label>state</label>
  <input type= "text" name= "robot[state]"><br/>
  <label>department</label>
  <input type= "text" name= "robot[department]"><br/>
  <input type= "submit">
</form>
