<form action="/robots" method="post">
  <h3> Create a new robot: </h3>
  <label class="new" class="new"> name </label>
  <input type='text' name='robot[name]'/><br/><br/>
  <label class="new"> city </label>
  <input type='text' name='robot[city]'/><br/><br/>
  <label class="new"> state </label>
  <input type='text' name='robot[state]'/><br/><br/>
  <label class="new"> department </label>
  <input type='text' name='robot[department]'/><br/>
  <br/>
  <input class='submit' type='submit'/>
</form>
