<head>
  <title>Create Robot</title>
  <link rel="stylesheet" href="application.css">
</head>

<h1>Create a New Robot</h1>
<form action="/robots" method="post">
  <input type='text' name='robot[name]'/> - Name<br/>
  <input type='text' name='robot[city]'/> - City<br/>
  <input type='text' name='robot[state]'/> - State<br/>
  <input type='text' name='robot[department]'/> - Department<br/>
  <input type='submit'/>
</form>
