<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <label>Name</label>
  <input type="text" name="robots[name]"/><br/>
  <label>City</label>
  <input type="text" name="robots[city]"/><br/>
  <label>State</label>
  <input type="text" name="robots[state]"/><br/>
  <label>Department</label>
  <input type="text" name="robots[department]"/><br/>
  <input type="submit"/>
</form>
