<form action="/robots" method="post">
  <p>Enter a new robot.<br/> Be sure to complete all required fields</p>
  Robot name: <input type='text' name='robot[name]'/><br/>
  City: <input type='text' city='robot[city]'/><br/>
  <input type='submit' />  
</form>