<div class="row">
  <h2>Add New Robot</h2>
</div>
<div class="row">
  <div class="btn-group robot-nav" role="group" style="margin: 20px 0px">
    <a class="btn btn-default" href="/">Back to Dashboard</a>
    <a class="btn btn-default" href="/robots">Back to Robots</a>
  </div>
</div>
<div class="row">
  <form action="/robots" method="post">
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="robot[name]">
    </div>
    <div class="form-group">
      <label>City:</label>
      <input type="text" class="form-control" name="robot[city]">
    </div>
    <div class="form-group">
      <label>State:</label>
      <input type="text" class="form-control" name="robot[state]">
    </div>
    <div class="form-group">
      <label>Department:</label>
      <input type="text" class="form-control" name="robot[department]">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
