<a href="/robots"> all robots</a>

<p> <%= @robot.name %> </p>
<p> <%= @robot.city %> </p>
<p> <%= @robot.state %> </p>
<p> <%= @robot.department %> </p>


<img src="https://robohash.org/YOUR-TEXT.png">
